* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container {
    width: 100%;
    padding: 2% 5%;
    display: flex;
}

.left-half {
    width: 45%;
    margin-top: 90px;
}

.left-half h1 {
    font-size: 50px;
    line-height: 1.3em;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.orange-color {
    color: orangered;
}

.left-half p {
    font-size: 17px;
    margin-bottom: 30px;
}

.order-button {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
}

.right-half {
    width: 45%;
    margin: auto;
}

.right-half img {
    width: 100%;
}

.middle-section {
    width: 98%;
    margin: auto;

    background-image: url(img/7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-side {
    width: 40%;
    margin-left: 9%;
}

.left-side img {
    width: 60%;
}

.right-side {
    width: 40%;
    padding: 3%;
}

.right-side h2 {
    margin: 20px 0px;
}

.right-side p {
    margin-bottom: 40px;
}